/* news */
.news-contents a {
  display: block;
  background-color: white;
  color: black;
  padding: 25px 0 25px 20px;
  border: 1px solid black;
}

.news-contents a:hover {
  opacity: 0.8;
}

.news-contents a:nth-child(n + 2) {
  margin-top: 10px;
}

.news-contents span {
  font-weight: bold;
}
/* news-end */