.content {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 20px 0;
}

.content img {
  width: 30%;
}

.content-txt {
  width: 65%;
}

.content-txt h2 {
  font-size: 2.4rem;
  padding-bottom: 10px;
}

.content-txt p {
  line-height: 2.5rem;
}

.content:last-of-type {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 768px){
  .content {
    flex-direction: column;
  }

  .content img {
    width: 100%;
  }

  .content-txt {
    width: 100%;
    padding-top: 10px;
  }
  
}




